node_modules/
node_modules/*

.DS_Store
coverage/
old/
dist/
# Playwright
/test-results/
test-results/
/playwright-report/
playwright-report/
coverage/
/blob-report/
/playwright/.cache/
/tests-playwright/.auth/
*.env
