@import './base.css';



:root {

  --c-edit-main-splitpane-properties-background-color: #ffffff;


}







#app{

  height: 100vh;

}

/* the Edit page */


/* left hand pane for property listing */
.edit-main-splitpane-properties{ 
  background-color: var(--c-edit-main-splitpane-properties-background-color) !important;
}


.load-wraper{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(211,211,211);
  z-index: 44;
  overflow: hidden;
  border-radius: 5px;
}
.activity{
  position: absolute;
  left: -45%;
  height: 100%;
  width: 45%;
  background-image: linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
  background-image: -moz-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
  background-image: -webkit-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
  animation: loading 1s infinite;
  z-index: 45;
}




.lookup-fake-input{
  background-color: white;
  min-height: 2em;
}

.lookup-fake-input{
  border-left: solid 1px rgb(133, 133, 133);
  border-right: solid 1px rgb(133, 133, 133);
}

.component .lookup-fake-input{
  border-top:solid 1px rgba(133, 133, 133,0.2);
} 

.component{
  border-top:solid 1px rgba(133, 133, 133);
  border-bottom:solid 1px rgba(133, 133, 133);

} 











@keyframes loading {
  0%{
    left: -45%;
  }
  100%{
    left: 100%;
  }
}